.background-img {
    display: flex;
    background-color: whitesmoke;
    background-image: url("https://cdn.pixabay.com/photo/2015/06/08/15/25/couple-802062_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@keyframes sunset {
    0% {
        color: white;
    }

    25% {
        color: #EDDBC7;
    }

    50% {
        color: #A7727D;
    }

    100% {
        color: #820000;
    }
}


.save-the-date {
    font-family: 'Corinthia', cursive;
    font-size: 50px;
    color: white;
    animation-name: sunset;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 10%;
    left: 53%;
}

.info {
    margin-top: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
}

.date {
    margin-top: 20px;
    position: absolute;
    top: 45%;
    left: 60%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}


.name {
    position: absolute;
    top: 55%;
    left: 55%;
    font-family: 'Corinthia', cursive;
    font-size: 50px;
    color: white;
}


.fa-solid {
    color: #A7727D;
    margin-left: 10px;
}


.more-info-btn {
    position: absolute;
    top: 80%;
    left: 65%;
    background-color: #ccbbaa;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 12px 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: center;
}


.more-info-btn:hover {
    background-color: #820000;
    transition: all 0.9s;
    transition-delay: 0.5s;

}